@namespace DataCareLite.Components.Layout
@inherits LayoutComponentBase

<div class="shell">
    <div class="titlebar">
        @* <div class="dots">
            <span class="d1"></span>
            <span class="d2"></span>
            <span class="d3"></span>
        </div> *@
        <div class="app-title">DataCare ETL &mdash; v1.0.0 &nbsp;&middot;&nbsp; Business Integration Partners</div>
    </div>
    <div class="page-body">
        @Body
    </div>
</div>
